<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <style>
            canvas {
                border: 1px solid #02030f;
                background-color: white;
            }
        </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <script src="{{ url_for('static', filename='js/QuadGame.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Experiment.js') }}"></script>

    <body>
        <section>
            <div id="startPage" style="display: block;">
                <img src="{{ url_for('static', filename='images/cu_logo.png') }}" alt="CU Logo" style="padding-bottom: 20px; padding-top: 20px;">
                <h1>AI-generated Multimodal Feedback for Drone Teleoperation</h1>
                <p style="padding-top: 15px;">Thank you for your willingness to participate in this study.</p>
                <p style="color: red;">Do not use refresh or back throughout the study.</p>
                <p>If you encounter any technical difficulties while playing the game, please make note of the issue and the point in the game in which you experience this issue in the survey at the end. We greatly appreciate your feedback.</p>
                <p>Press Next to continue.</p>
                <button onclick="goToScreenTest()">Next</button>
            </div>
        </section>

        <section>
            <div id="screenTestPage" style="display: none;">
                <h1>Screen Test</h1>
                <p>Before continuing with this study, please ensure you can see the black border around all four sides of the green box.</p>
                <p>If you can not see all four borders, you will not be able to complete this study.</p>
                <div class="screentest">
                    <div style="width:1250px;height:600px;border:4px solid #000; background-color: honeydew; font-size:xx-large; font-weight: bold;">
                        Ensure you can see the black border around all 4 sides of this rectangle!
                    </div>
                </div>
                <p style="padding-top: 20px;">Press Next to continue.</p>
                <button onclick="goToWorkerIDPage()">Next</button>
            </div>
        </section>

        <section>
            <div id="workerIDPage" style="display: none;">
                <h1>Worker ID</h1>
                <p>In the box below, enter your WorkerID provided by Amazon Mechanical Turk.</p>
                <p>After entering your WorkerID, press Next to continue.</p>
                <p style="color: red;">Please make sure your WorkerID is correct.</p>
                <form>
                    <div>
                        <div class="input-group">
                            <label for="workerID", style="padding-right: 10px;">Worker ID:</label>
                            <input type="text" id="workerID" placeholder="Enter WorkerID">
                        </div>
                    </div>
                    <input type="button" value="Next" onclick="goToConsentPage()">
                </form>
            </div>
        </section>

        <section>
            <div id="consentPage" style="display: none;">
                <h1>Research Participant Consent Form</h1>
                <p style="padding-top: 10px;"><b>Primary Investigators:</b> Emily Jensen, Dr. Bradley Hayes, and Dr. Sriram Sankaranarayanan</p>
                <p>Department of Computer Science, University of Colorado Boulder</p>
                <br>
                <p>The link below will direct you to a new tab to read the research consent form. Please read the document carefully. After reading the form, return to this tab and press Next if you consent to participating in the study.</p>
                <strong><a href="{{ url_for('static', filename='Consent Form - NSF CPS - online game.pdf') }}" target="_blank">Consent Form</a></strong>
                <br><br>
                <p>If you have any questions or concerns about the information in the consent form, please send them to emily.jensen@colorado.edu</p>
                <p>Press Next to continue.</p>
                <button onclick="goToInstructions1Page()">Next</button>
            </div>
        </section>

        <section>
            <div id="instructions1Page" style="display: none; padding-bottom: 30px;">
                <h1>Instructions</h1>
                <p>Your task in this study is to improve your proficiency at playing a quadrotor (drone) landing game.
                    In the game, you are tasked with navigating a quadrotor to a landing pad.
                    A feature of this game is that it includes feedback to help you improve your skill in the game.
                    The feedback will be presented each time you complete the game.
                </p>

                <h2 style="padding-top: 20px;">Game Walkthrough</h2>
                <p>You will be interacting with a simulated training module to learn how to land a quadrotor.</p>
                <img src="{{ url_for('static', filename='images/instructions/instructions1.png') }}" style="width: 1250px;">
                <br><br>
                <p>The goal is to fly the quadrotor from the starting point to the landing pad.</p>
                <img src="{{ url_for('static', filename='images/instructions/instructions2.png') }}" style="width: 1250px;">
                <br><br>
                <p>You will control the quadrotor's <b>thrust force</b> and <b>attitude (tilt angle)</b> using your keyboard.</p>
                <img src="{{ url_for('static', filename='images/instructions/instructions3.png') }}" style="width: 1250px;">
                <br><br>
                <p>Pressing and holding "W" increases thrust force, causing the quadrotor to <b>accelerate</b>.</p>
                <p>Pressing and holding "S" decreases thrust force, causing the quadrotor to <b>decelerate</b>.</p>
                <p>If the thrust force is near zero, then <b>gravity is the only force acting on the quadrotor</b>.</p>
                <img src="{{ url_for('static', filename='images/instructions/instructions4.png') }}" style="width: 1250px;">
                <br><br>
                <p>Pressing and holding the <b>right arrow key</b> causes the quadrotor to rotate <b>clockwise</b>.</p>
                <p>Pressing and holding the <b>left arrow key</b> causes the quadrotor to rotate <b>counter-clockwise</b>.</p>
                <img src="{{ url_for('static', filename='images/instructions/instructions5.png') }}" style="width: 1250px;">
                <br><br>
                <p>Press Next to continue.</p>
                <button onclick="goToInstructions2Page()">Next</button>
            </div>
        </section>

        <section>
            <div id="instructions2Page" style="display: none; padding-bottom: 30px;">
                <h1>Instructions</h1>
                <p>Your primary goal is to <b>land the quadrotor</b> as well as <b>minimize the time</b> it takes for you to successfully land the quadrotor. To accomplish these goals, aim to navigate the quadrotor to the landing pad in a controlled manner.</p>
                
                <h2 style="padding-top: 20px;">Game Walkthrough</h2>
                <p>In order to safely land the quadrotor, the quadrotor has to land on the landing pad at a <b>speed below 15.0 m/s and attitude (tilt angle) within &#177;5&#176;</b>. This is categorized as a <b>safe landing</b>. If the quadrotor lands on the landing pad outside of the safe landing criteria, the landing will be categorized as an <b>unsafe landing</b>.</p>
                <img src="{{ url_for('static', filename='images/instructions/instructions6.png') }}" style="width: 1250px;">
                <br><br>
                <p>If the quadrotor <b>hits the window bounds</b>, the quadrotor will crash. This is categorized as a <b>crash</b>.</p>
                <img src="{{ url_for('static', filename='images/instructions/instructions7.png') }}" style="width: 1250px;">
                <br><br>
                <p>For your reference, live <b>speed and attitude</b> data is provided on the left side of the screen. Additionally, time is provided. You have <b>2 minutes</b> to land the quadrotor before the battery dies.</p>
                <img src="{{ url_for('static', filename='images/instructions/instructions8.png') }}" style="width: 1250px;">
                <br><br>
                <p>Press Next to continue.</p>
                <button onclick="goToInstructions3Page()">Next</button>
                <p>Press Back to review the previous instructions.</p>
                <button onclick="goToInstructions1Page()">Back</button>
            </div>
        </section>

        <section>
            <div id="instructions3Page" style="display: none; padding-bottom: 30px;">
                <h1>Instructions</h1>
                <p>To start the game, press either the throttle (W or S keys) or tilt (left or right arrow keys).</p>
                <p>You will play the game 20 times. You will receive feedback each time you play the game.</p>
                <p>Each time you complete the game, press Next and you will be re-directed to play again.</p>
                <p style="color: red;">Please maximize the screen before starting the game.</p>
                <p>Press Next to continue.</p>
                <button onclick="goToFirstGame()">Next</button>
                <p>Press Back to review the previous instructions.</p>
                <button onclick="goToInstructions2Page()">Back</button>
            </div>
        </section>

        <section>
            <div id="gamePage" style="display: none;">
                <meta name="viewport" content="width=device-width, initial-scale=1.0" />
                <style>
                    * {
                        padding: 20;
                        margin: 0;
                    }
                
                    canvas {
                        background-image: url("{{ url_for('static', filename='images/white_block.jpg') }}");
                        background-repeat: no-repeat;
                        background-size: 1250px 600px;
                        display: block;
                        margin: 0 auto;
                        border: black 2px solid;
                        padding: 100;
                    }
                </style>
                <p> Press either the throttle (W or S keys) or tilt (left or right arrow keys) to begin the game.</p>
                <p>Use the throttle and tilt to land the quadrotor.</p>
                <p>Press Next to continue once you complete the game.</p>
                <button onclick="goToScorePage()">Next</button>
            </div>
        </section>

        <section>
            <div id="scorePage" style="display: none;">
                <h1>Game Score</h1>
                <p>Press Next to continue to a survey on your performance feedback.</p>
                <button onclick="goToSurveyPage()">Next</button>
            </div>
        </section>

        <section>
            <div id="surveyPage" style="display: none;">
                <style>
                    .checkboxgroup {
                      display: inline-block;
                      text-align: left;
                    }
              
                    .checkboxgroup label {
                      display: block;
                    }
                </style>
                <h1>Survey</h1>
                <p>The following questions ask about the feedback you just received about your performance in the game.</p>
                <br><br>
                <p>The feedback motivated me to do better in future trials.</p>
                <div id="motivationSlider">
                    <div class="middle">
                        <br>
                        <div class="slider-container">
                            <span class="bar"><span class="fill"></span></span>
                            <input type="range" id="motivation" class="slider" min="1" max="5" value="3" step="1">
                            <div class="sliderticks" style="font-family: Helvetica-Neue, Arial, sans-serif; font-size: 14px;">
                                <p>1 Strongly Disagree</p>
                                <p></p>
                                <p>2</p>
                                <p></p>
                                <p>3 Neither agree nor disagree</p>
                                <p> </p>
                                <p>4</p>
                                <p></p>
                                <p>5 Strongly Agree</p>
                            </div>
                        </div>
                    </div>
                </div>

                <p>The feedback contained the right amount of information.</p>
                <div id="manageableSlider">
                    <div class="middle">
                        <br>
                        <div class="slider-container">
                            <span class="bar"><span class="fill"></span></span>
                            <input type="range" id="manageable" class="slider" min="1" max="5" value="3" step="1">
                            <div class="sliderticks" style="font-family: Helvetica-Neue, Arial, sans-serif; font-size: 14px;">
                                <p>1 Strongly Disagree</p>
                                <p></p>
                                <p>2</p>
                                <p></p>
                                <p>3 Neither agree nor disagree</p>
                                <p> </p>
                                <p>4</p>
                                <p></p>
                                <p>5 Strongly Agree</p>
                            </div>
                        </div>
                    </div>
                </div>

                <p>The feedback suggestions were actionable.</p>
                <div id="actionableSlider">
                    <div class="middle">
                        <br>
                        <div class="slider-container">
                            <span class="bar"><span class="fill"></span></span>
                            <input type="range" id="actionable" class="slider" min="1" max="5" value="3" step="1">
                            <div class="sliderticks" style="font-family: Helvetica-Neue, Arial, sans-serif; font-size: 14px;">
                                <p>1 Strongly Disagree</p>
                                <p></p>
                                <p>2</p>
                                <p></p>
                                <p>3 Neither agree nor disagree</p>
                                <p> </p>
                                <p>4</p>
                                <p></p>
                                <p>5 Strongly Agree</p>
                            </div>
                        </div>
                    </div>
                </div>

                <p>The feedback was presented at an appropriate frequency.</p>
                <div id="timelySlider">
                    <div class="middle">
                        <br>
                        <div class="slider-container">
                            <span class="bar"><span class="fill"></span></span>
                            <input type="range" id="timely" class="slider" min="1" max="5" value="3" step="1">
                            <div class="sliderticks" style="font-family: Helvetica-Neue, Arial, sans-serif; font-size: 14px;">
                                <p>1 Strongly Disagree</p>
                                <p></p>
                                <p>2</p>
                                <p></p>
                                <p>3 Neither agree nor disagree</p>
                                <p> </p>
                                <p>4</p>
                                <p></p>
                                <p>5 Strongly Agree</p>
                            </div>
                        </div>
                    </div>
                </div>

                <p>The feedback prompted me to reflect on my performance.</p>
                <div id="reflectionSlider">
                    <div class="middle">
                        <br>
                        <div class="slider-container">
                            <span class="bar"><span class="fill"></span></span>
                            <input type="range" id="reflection" class="slider" min="1" max="5" value="3" step="1">
                            <div class="sliderticks" style="font-family: Helvetica-Neue, Arial, sans-serif; font-size: 14px;">
                                <p>1 Strongly Disagree</p>
                                <p></p>
                                <p>2</p>
                                <p></p>
                                <p>3 Neither agree nor disagree</p>
                                <p> </p>
                                <p>4</p>
                                <p></p>
                                <p>5 Strongly Agree</p>
                            </div>
                        </div>
                    </div>
                </div>
                <p>Press Next to continue.</p>
                <button onclick="goToGame()">Next</button>
            </div>
        </section>

        <section>
            <div id="qualtricsPage", style="display: none;">
                <h1>Qualtrics Page</h1>
            </div>
        </section>
    </body>
</html>