<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <style>
            canvas {
                border: 1px solid #02030f;
                background-color: white;
            }
        </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <script src="{{ url_for('static', filename='js/QuadGame.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Experiment.js') }}"></script>

    <body>
        <section>
            <div id="startPage" style="display: block;">
                <img src="{{ url_for('static', filename='images/cu_logo.png') }}" alt="CU Logo" style="padding-bottom: 20px; padding-top: 20px;">
                <h1>AI-generated Multimodal Feedback for Drone Teleoperation</h1>
                <p style="padding-top: 15px;">Thank you for your willingness to participate in this study.</p>
                <p style="color: red;">Do not use refresh or back throughout the study.</p>
                <p>If you encounter any technical difficulties while playing the game, please make note of the issue and the point in the game in which you experience this issue in the survey at the end. We greatly appreciate your feedback.</p>
                <p>Press Next to continue.</p>
                <button onclick="goToScreenTest()">Next</button>
            </div>
        </section>

        <section>
            <div id="screenTestPage" style="display: none;">
                <h1>Screen Test</h1>
                <p>Before continuing with this study, please ensure you can see the black border around all four sides of the green box.</p>
                <p>If you can not see all four borders, you will not be able to complete this study.</p>
                <div class="screentest">
                    <div style="width:1250px;height:600px;border:4px solid #000; background-color: honeydew; font-size:xx-large; font-weight: bold;">
                        Ensure you can see the black border around all 4 sides of this rectangle!
                    </div>
                </div>
                <p style="padding-top: 20px;">Press Next to continue.</p>
                <button onclick="goToWorkerIDPage()">Next</button>
            </div>
        </section>

        <section>
            <div id="workerIDPage" style="display: none;">
                <h1>Prolific ID</h1>
                <p>In the box below, enter your ID provided by Prolific.</p>
                <p>After entering your ID, press Next to continue.</p>
                <p style="color: red;">Please make sure your ID is correct.</p>
                <form>
                    <div>
                        <div class="input-group">
                            <label for="workerID", style="padding-right: 10px;">Prolific ID:</label>
                            <input type="text" id="workerID" placeholder="Enter Prolific ID">
                        </div>
                    </div>
                    <input type="button" value="Next" onclick="goToConsentPage()">
                </form>
            </div>
        </section>

        <section>
            <div id="consentPage" style="display: none;">
                <h1>Research Participant Consent Form</h1>
                <p style="padding-top: 10px;"><b>Primary Investigators:</b> Emily Jensen, Dr. Bradley Hayes, and Dr. Sriram Sankaranarayanan</p>
                <p>Department of Computer Science, University of Colorado Boulder</p>
                <br>
                <p>The link below will direct you to a new tab to read the research consent form. Please read the document carefully. After reading the form, return to this tab and press I Agree if you consent to participating in the study.</p>
                <strong><a href="{{ url_for('static', filename='Exempt Remote Consent.pdf') }}" target="_blank">Consent Form</a></strong>
                <br><br>
                <p>If you have any questions or concerns about the information in the consent form, please send them to emily.jensen@colorado.edu</p>
                <p>Press I Agree to continue.</p>
                <button onclick="goToInstructions1Page()">I Agree</button>
            </div>
        </section>

        <section>
            <div id="instructions1Page" style="display: none; padding-bottom: 30px;">
                <h1>Instructions 1/3</h1>
                <p>Your task in this study is to improve your proficiency at playing a quadrotor (drone) landing game.
                    In the game, you are tasked with navigating a quadrotor to a landing pad.
                    A feature of this game is that it includes feedback to help you improve your skill in the game.
                    The feedback will be presented each time you complete the game.
                </p>

                <h2 style="padding-top: 20px;">Game Walkthrough</h2>
                <p>You will be interacting with a simulated training module to learn how to land a quadrotor.</p>
                <img src="{{ url_for('static', filename='images/instructions/instructions1.png') }}" style="width: 1250px;">
                <br><br>
                <p>The goal is to fly the quadrotor from the starting point to the landing pad.</p>
                <img src="{{ url_for('static', filename='images/instructions/instructions2.png') }}" style="width: 1250px;">
                <br><br>
                <p>You will control the quadrotor's <b>thrust force</b> and <b>attitude (tilt angle)</b> using your keyboard.</p>
                <img src="{{ url_for('static', filename='images/instructions/instructions3.png') }}" style="width: 1250px;">
                <br><br>
                <p>Pressing and holding "W" increases thrust force, causing the quadrotor to <b>accelerate</b>.</p>
                <p>Pressing and holding "S" decreases thrust force, causing the quadrotor to <b>decelerate</b>.</p>
                <p>If the thrust force is near zero, then <b>gravity is the only force acting on the quadrotor</b>.</p>
                <img src="{{ url_for('static', filename='images/instructions/instructions4.png') }}" style="width: 1250px;">
                <br><br>
                <p>Pressing and holding the <b>right arrow key</b> causes the quadrotor to rotate <b>clockwise</b>.</p>
                <p>Pressing and holding the <b>left arrow key</b> causes the quadrotor to rotate <b>counter-clockwise</b>.</p>
                <img src="{{ url_for('static', filename='images/instructions/instructions5.png') }}" style="width: 1250px;">
                <br><br>
                <p>Press Next to continue.</p>
                <button onclick="goToInstructions2Page()">Next</button>
            </div>
        </section>

        <section>
            <div id="instructions2Page" style="display: none; padding-bottom: 30px;">
                <h1>Instructions 2/3</h1>
                <p>Your primary goal is to <b>land the quadrotor</b> as well as <b>minimize the time</b> it takes for you to successfully land the quadrotor. To accomplish these goals, aim to navigate the quadrotor to the landing pad in a controlled manner.</p>
                
                <h2 style="padding-top: 20px;">Game Walkthrough</h2>
                <p>In order to safely land the quadrotor, the quadrotor has to land on the landing pad at a <b>speed below 15.0 m/s and attitude (tilt angle) within &#177;5&#176;</b>. This is categorized as a <b>safe landing</b>. If the quadrotor lands on the landing pad outside of the safe landing criteria, the landing will be categorized as an <b>unsafe landing</b>.</p>
                <img src="{{ url_for('static', filename='images/instructions/instructions6.png') }}" style="width: 1250px;">
                <br><br>
                <p>If the quadrotor <b>hits the window bounds</b>, the quadrotor will crash. This is categorized as a <b>crash</b>.</p>
                <img src="{{ url_for('static', filename='images/instructions/instructions7.png') }}" style="width: 1250px;">
                <br><br>
                <p>For your reference, live <b>speed and attitude</b> data is provided on the left side of the screen. Additionally, time is provided. You have <b>2 minutes</b> to land the quadrotor before the battery dies.</p>
                <img src="{{ url_for('static', filename='images/instructions/instructions8.png') }}" style="width: 1250px;">
                <br><br>
                <p>Press Next to continue.</p>
                <button onclick="goToInstructions3Page()">Next</button>
                <p>Press Back to review the previous instructions.</p>
                <button onclick="goToInstructions1Page()">Back</button>
            </div>
        </section>

        <section>
            <div id="instructions3Page" style="display: none; padding-bottom: 30px;">
                <h1>Instructions 3/3</h1>
                <p>To start the game, press either the throttle (W or S keys) or tilt (left or right arrow keys).</p>
                <p>You will play the game 20 times. You will receive feedback each time you play the game.</p>
                <p>Each time you complete the game, press Next and you will be re-directed to play again.</p>
                <p style="color: red;">Please maximize the screen before starting the game.</p>
                <p>Press Next to continue.</p>
                <button onclick="goToFirstGame()">Next</button>
                <p>Press Back to review the previous instructions.</p>
                <button onclick="goToInstructions2Page()">Back</button>
            </div>
        </section>

        <section>
            <div id="gamePage" style="display: none; padding-bottom: 30px;">
                <meta name="viewport" content="width=device-width, initial-scale=1.0" />
                <style>
                    * {
                        padding: 20;
                        margin: 0;
                    }
                
                    canvas {
                        background-image: url("{{ url_for('static', filename='images/white_block.jpg') }}");
                        background-repeat: no-repeat;
                        background-size: 1250px 600px;
                        display: block;
                        margin: 0 auto;
                        border: black 2px solid;
                        padding: 100;
                    }
                </style>

                <div id="gameInstructions" style="padding-top: 20px;">
                    <p>Press either the throttle (W or S keys) or tilt (left or right arrow keys) to begin the game.</p>
                    <p>Use the throttle and tilt to land the quadrotor.</p>
                    <p>Press Generate Feedback to continue once you complete the game.</p>
                </div>
                <div id="waitButtonDiv" style="padding-top: 30px;">
                    <button id="waitButton" onclick="waitToGoToScorePage()">Generate Feedback</button>
                </div>
                
                <div id="postfeedbackgeneration" style="display: none;">
                    <p>Press See Feedback to continue.</p>
                    <button onclick="goToNextFeedbackPage('game')">See Feedback</button>
                </div>
                
            </div>
        </section>

        <section>
            <div id="scorePage" style="display: none;">
                <h1>Performance Feedback</h1>

                <div class="container">
                    <div class="row">
                        <div class="col-10">
                            <table class="table table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                        <!-- <th scope="col">Game</th> -->
                                        <th scope="col">Trial No. </th>
                                        <th scope="col">Total Time (seconds) </th>
                                        <th scope="col">Final Velocity (m/s) </th>
                                        <th scope="col">Final Attitude (&deg)</th>
                                        <th scope="col">Landing</th>
                                        <th scope="col">Score</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><span id="Trial Number"></span></td>
                                        <td><span id="Total Time"></span></td>
                                        <td><span id="Landing Velocity"></span></td>
                                        <td><span id="Landing Attitude"></span></td>
                                        <td><span id="Successful landing"></span></td>
                                        <td><span id="Score"></span></td>
                                    </tr>
                                    <tr>
                                        <td><span id="Trial Number1"></span></td>
                                        <td><span id="Total Time1"></span></td>
                                        <td><span id="Landing Velocity1"></span></td>
                                        <td><span id="Landing Attitude1"></span></td>
                                        <td><span id="Successful landing1"></span></td>
                                        <td><span id="Score1"></span></td>
                                    </tr>
                                    <tr>
                                        <td><span id="Trial Number2"></span></td>
                                        <td><span id="Total Time2"></span></td>
                                        <td><span id="Landing Velocity2"></span></td>
                                        <td><span id="Landing Attitude2"></span></td>
                                        <td><span id="Successful landing2"></span></td>
                                        <td><span id="Score2"></span></td>
                                    </tr>
                                    <tr>
                                        <td><span id="Trial Number3"></span></td>
                                        <td><span id="Total Time3"></span></td>
                                        <td><span id="Landing Velocity3"></span></td>
                                        <td><span id="Landing Attitude3"></span></td>
                                        <td><span id="Successful landing3"></span></td>
                                        <td><span id="Score3"></span></td>
                                    </tr>
                                    <tr>
                                        <td><span id="Trial Number4"></span></td>
                                        <td><span id="Total Time4"></span></td>
                                        <td><span id="Landing Velocity4"></span></td>
                                        <td><span id="Landing Attitude4"></span></td>
                                        <td><span id="Successful landing4"></span></td>
                                        <td><span id="Score4"></span></td>    
                                    </tr>
                                    <tr>
                                        <td><span id="Trial Number5"></span></td>
                                        <td><span id="Total Time5"></span></td>
                                        <td><span id="Landing Velocity5"></span></td>
                                        <td><span id="Landing Attitude5"></span></td>
                                        <td><span id="Successful landing5"></span></td>
                                        <td><span id="Score5"></span></td>    
                                    </tr>
                                    <tr>
                                        <td><span id="Trial Number6"></span></td>
                                        <td><span id="Total Time6"></span></td>
                                        <td><span id="Landing Velocity6"></span></td>
                                        <td><span id="Landing Attitude6"></span></td>
                                        <td><span id="Successful landing6"></span></td>
                                        <td><span id="Score6"></span></td>        
                                    </tr>
                                    <tr>
                                        <td><span id="Trial Number7"></span></td>
                                        <td><span id="Total Time7"></span></td>
                                        <td><span id="Landing Velocity7"></span></td>
                                        <td><span id="Landing Attitude7"></span></td>
                                        <td><span id="Successful landing7"></span></td>
                                        <td><span id="Score7"></span></td>    
                                    </tr>
                                    <tr>
                                        <td><span id="Trial Number8"></span></td>
                                        <td><span id="Total Time8"></span></td>
                                        <td><span id="Landing Velocity8"></span></td>
                                        <td><span id="Landing Attitude8"></span></td>
                                        <td><span id="Successful landing8"></span></td>
                                        <td><span id="Score8"></span></td>     
                                    </tr>
                                    <tr>
                                        <td><span id="Trial Number9"></span></td>
                                        <td><span id="Total Time9"></span></td>
                                        <td><span id="Landing Velocity9"></span></td>
                                        <td><span id="Landing Attitude9"></span></td>
                                        <td><span id="Successful landing9"></span></td>
                                        <td><span id="Score9"></span></td>    
                                    </tr>
                                    <tr>
                                        <td><span id="Trial Number10"></span></td>
                                        <td><span id="Total Time10"></span></td>
                                        <td><span id="Landing Velocity10"></span></td>
                                        <td><span id="Landing Attitude10"></span></td>
                                        <td><span id="Successful landing10"></span></td>
                                        <td><span id="Score10"></span></td>        
                                    </tr>
                                    <tr>
                                        <td><span id="Trial Number11"></span></td>
                                        <td><span id="Total Time11"></span></td>
                                        <td><span id="Landing Velocity11"></span></td>
                                        <td><span id="Landing Attitude11"></span></td>
                                        <td><span id="Successful landing11"></span></td>
                                        <td><span id="Score11"></span></td>
                                    </tr>
                                    <tr>
                                        <td><span id="Trial Number12"></span></td>
                                        <td><span id="Total Time12"></span></td>
                                        <td><span id="Landing Velocity12"></span></td>
                                        <td><span id="Landing Attitude12"></span></td>
                                        <td><span id="Successful landing12"></span></td>
                                        <td><span id="Score12"></span></td>
                                    </tr>
                                    <tr>
                                        <td><span id="Trial Number13"></span></td>
                                        <td><span id="Total Time13"></span></td>
                                        <td><span id="Landing Velocity13"></span></td>
                                        <td><span id="Landing Attitude13"></span></td>
                                        <td><span id="Successful landing13"></span></td>
                                        <td><span id="Score13"></span></td>
                                    </tr>
                                    <tr>
                                        <td><span id="Trial Number14"></span></td>
                                        <td><span id="Total Time14"></span></td>
                                        <td><span id="Landing Velocity14"></span></td>
                                        <td><span id="Landing Attitude14"></span></td>
                                        <td><span id="Successful landing14"></span></td>
                                        <td><span id="Score14"></span></td>        
                                    </tr>
                                    <tr>
                                        <td><span id="Trial Number15"></span></td>
                                        <td><span id="Total Time15"></span></td>
                                        <td><span id="Landing Velocity15"></span></td>
                                        <td><span id="Landing Attitude15"></span></td>
                                        <td><span id="Successful landing15"></span></td>
                                        <td><span id="Score15"></span></td>    
                                    </tr>
                                    <tr>
                                        <td><span id="Trial Number16"></span></td>
                                        <td><span id="Total Time16"></span></td>
                                        <td><span id="Landing Velocity16"></span></td>
                                        <td><span id="Landing Attitude16"></span></td>
                                        <td><span id="Successful landing16"></span></td>
                                        <td><span id="Score16"></span></td>
                                    </tr>
                                    <tr>
                                        <td><span id="Trial Number17"></span></td>
                                        <td><span id="Total Time17"></span></td>
                                        <td><span id="Landing Velocity17"></span></td>
                                        <td><span id="Landing Attitude17"></span></td>
                                        <td><span id="Successful landing17"></span></td>
                                        <td><span id="Score17"></span></td>  
                                    </tr>
                                    <tr>
                                        <td><span id="Trial Number18"></span></td>
                                        <td><span id="Total Time18"></span></td>
                                        <td><span id="Landing Velocity18"></span></td>
                                        <td><span id="Landing Attitude18"></span></td>
                                        <td><span id="Successful landing18"></span></td>
                                        <td><span id="Score18"></span></td>    
                                    </tr>
                                    <tr>
                                        <td><span id="Trial Number19"></span></td>
                                        <td><span id="Total Time19"></span></td>
                                        <td><span id="Landing Velocity19"></span></td>
                                        <td><span id="Landing Attitude19"></span></td>
                                        <td><span id="Successful landing19"></span></td>
                                        <td><span id="Score19"></span></td>
                                    </tr>
                                    <!-- <tr>
                                        <th scope="row"><span id="prev20_game_number"></span></th>
                                        <th><span id="Trial Number20"></span></td>
                                        <th><span id="Total Time20"></span></td>
                                        <th><span id="Landing Velocity20"></span></td>
                                        <th><span id="Landing Attitude20"></span></td>
                                        <th><span id="Successful landing20"></span></td>
                                    </tr> -->
                            </table>
                        </div>
                    </div>
                </div>

                <p>Press Next to continue to a survey about the feedback you received.</p>
                <button onclick="goToNextFeedbackPage('score')">Next</button>
            </div>
        </section>

        <section>
            <div id="textFeedbackPage" style="display: none;">
                <h1>Performance Feedback</h1>
                <p id="textFeedbackText" style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque congue eros maximus tellus dictum, nec facilisis augue ultricies. In vitae metus posuere, maximus velit non, consectetur sem. Suspendisse venenatis nisi diam, vel venenatis ante dapibus in. Phasellus sodales velit ac sem fringilla, vel mollis dolor sagittis. In volutpat pellentesque elit sit amet accumsan. Cras mattis, turpis nec auctor dignissim, leo mauris eleifend massa, iaculis vehicula tortor sem in libero. Sed ut vestibulum felis, ut rhoncus massa. Donec ipsum tortor, maximus eget consequat vitae, vulputate at felis. Proin feugiat feugiat vestibulum.</p>
                <p>Press Next to continue to a survey about the feedback you received.</p>
                <button onclick="goToNextFeedbackPage('text')">Next</button>
            </div>
        </section>

        <section>
            <div id="fullFeedbackPage" style="display: none;">
                <h1>Performance Feedback</h1>
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-4">
                            <img id="trajectoryGraph" src="static/images/drone.png" alt="Trajectory Graph" style="width: 500px;">
                        </div>
        
                        <div class="col-8">
                            <p id="fullFeedbackText" style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque congue eros maximus tellus dictum, nec facilisis augue ultricies. In vitae metus posuere, maximus velit non, consectetur sem. Suspendisse venenatis nisi diam, vel venenatis ante dapibus in. Phasellus sodales velit ac sem fringilla, vel mollis dolor sagittis. In volutpat pellentesque elit sit amet accumsan. Cras mattis, turpis nec auctor dignissim, leo mauris eleifend massa, iaculis vehicula tortor sem in libero. Sed ut vestibulum felis, ut rhoncus massa. Donec ipsum tortor, maximus eget consequat vitae, vulputate at felis. Proin feugiat feugiat vestibulum.</p>
                        </div>
                    </div>
                </div>
                <p>Press Next to continue to a survey about the feedback you received.</p>
                <button onclick="goToNextFeedbackPage('full')">Next</button>
            </div>
        </section>

        <section>
            <div id="surveyPage" style="display: none; padding-bottom: 30px;">
                <style>
                    .checkboxgroup {
                      display: inline-block;
                      text-align: left;
                    }
              
                    .checkboxgroup label {
                      display: block;
                    }
                </style>
                <h1>Feedback Survey</h1>
                <p>The following questions ask about the feedback you just received about your performance in the game.</p>
                <br><br>
                <p>The feedback motivated me to do better in future trials.</p>
                <div id="motivationSlider">
                    <div class="middle">
                        <br>
                        <div class="slider-container">
                            <span class="bar"><span class="fill"></span></span>
                            <input type="range" id="motivation" class="slider" min="1" max="5" value="3" step="1">
                            <div class="sliderticks" style="font-family: Helvetica-Neue, Arial, sans-serif; font-size: 14px;">
                                <p>1 Strongly Disagree</p>
                                <p></p>
                                <p>2</p>
                                <p></p>
                                <p>3 Neither agree nor disagree</p>
                                <p> </p>
                                <p>4</p>
                                <p></p>
                                <p>5 Strongly Agree</p>
                            </div>
                        </div>
                    </div>
                </div>

                <p>The feedback contained the right amount of information.</p>
                <div id="manageableSlider">
                    <div class="middle">
                        <br>
                        <div class="slider-container">
                            <span class="bar"><span class="fill"></span></span>
                            <input type="range" id="manageable" class="slider" min="1" max="5" value="3" step="1">
                            <div class="sliderticks" style="font-family: Helvetica-Neue, Arial, sans-serif; font-size: 14px;">
                                <p>1 Strongly Disagree</p>
                                <p></p>
                                <p>2</p>
                                <p></p>
                                <p>3 Neither agree nor disagree</p>
                                <p> </p>
                                <p>4</p>
                                <p></p>
                                <p>5 Strongly Agree</p>
                            </div>
                        </div>
                    </div>
                </div>

                <p>The feedback suggestions were actionable.</p>
                <div id="actionableSlider">
                    <div class="middle">
                        <br>
                        <div class="slider-container">
                            <span class="bar"><span class="fill"></span></span>
                            <input type="range" id="actionable" class="slider" min="1" max="5" value="3" step="1">
                            <div class="sliderticks" style="font-family: Helvetica-Neue, Arial, sans-serif; font-size: 14px;">
                                <p>1 Strongly Disagree</p>
                                <p></p>
                                <p>2</p>
                                <p></p>
                                <p>3 Neither agree nor disagree</p>
                                <p> </p>
                                <p>4</p>
                                <p></p>
                                <p>5 Strongly Agree</p>
                            </div>
                        </div>
                    </div>
                </div>

                <p>The feedback was presented at an appropriate frequency.</p>
                <div id="timelySlider">
                    <div class="middle">
                        <br>
                        <div class="slider-container">
                            <span class="bar"><span class="fill"></span></span>
                            <input type="range" id="timely" class="slider" min="1" max="5" value="3" step="1">
                            <div class="sliderticks" style="font-family: Helvetica-Neue, Arial, sans-serif; font-size: 14px;">
                                <p>1 Strongly Disagree</p>
                                <p></p>
                                <p>2</p>
                                <p></p>
                                <p>3 Neither agree nor disagree</p>
                                <p> </p>
                                <p>4</p>
                                <p></p>
                                <p>5 Strongly Agree</p>
                            </div>
                        </div>
                    </div>
                </div>

                <p>The feedback prompted me to reflect on my performance.</p>
                <div id="reflectionSlider">
                    <div class="middle">
                        <br>
                        <div class="slider-container">
                            <span class="bar"><span class="fill"></span></span>
                            <input type="range" id="reflection" class="slider" min="1" max="5" value="3" step="1">
                            <div class="sliderticks" style="font-family: Helvetica-Neue, Arial, sans-serif; font-size: 14px;">
                                <p>1 Strongly Disagree</p>
                                <p></p>
                                <p>2</p>
                                <p></p>
                                <p>3 Neither agree nor disagree</p>
                                <p> </p>
                                <p>4</p>
                                <p></p>
                                <p>5 Strongly Agree</p>
                            </div>
                        </div>
                    </div>
                </div>
                <p>Press Next to continue.</p>
                <button onclick="goToGame()">Next</button>
            </div>
        </section>

        <section>
            <div id="qualtricsPage", style="display: none;">
                <h1>Exit Survey</h1>
                <p>Thank you for completing the study. Please fill out and submit the survey below before closing the window. Your completion code for Prolific will be provided at the end of this survey. If you would like to open the survey in a separate new tab, click the link below.</p>
                <strong><a href="https://cuboulder.qualtrics.com/jfe/form/SV_780C8Bue9CAsnJQ" target="_blank">Exit Survey</a></strong>
                <br><br>
                <iframe src="https://cuboulder.qualtrics.com/jfe/form/SV_780C8Bue9CAsnJQ" height="800px" width="800px"></iframe>
            </div>
        </section>
    </body>
</html>